
@{
    ViewData["Title"] = "Confirm Delete";
}

<h2>Are you sure you want to delete the Event(s)/Reminder(s) listed below?</h2>
<br />
<br />
<p>Click <a asp-controller="RemindMe" asp-action="UserHomePage" asp-route-id="@ViewBag.ID" style="color:blue"><strong>NO</strong></a> to Cancel the Delete Request</p>

<form asp-controller="RemindMe" asp-action="ConfirmDeleteEventsAndRemindersBeforeDeleting" method="post">

    <table class="table">

        <tr>
            <th>Selected</th>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Event Date</th>

        </tr>
        @*removed onclick="return false;" from input element in td
            This onclick statement prevents the user from un checking a
            checkbox*@
        @foreach (var rr in ViewBag.deleteTheseReminders)
        {

            <tr>
                <td><input type="checkbox" checked name="recurringReminderId" id="@rr.ID" value="@rr.ID" /></td>
                <td> <label for="@rr.ID">@rr.RecurringReminderName</label></td>
                <td> <label for="Description">@rr.RecurringReminderDescription</label></td>
                <td> <label for="EventDate">@rr.RecurringEventDate.ToString("dddd, MMMM dd yyyy")</label></td>
            </tr>

        }

    </table>

    
    <input type="submit" value="Remove Selected Reminder(s)" />&nbsp;&nbsp;&nbsp;<a asp-controller="RemindMe" asp-action="UserHomePage" asp-route-id="@ViewBag.ID"><strong>Cancel Delete Request</strong></a>
</form>
