@model RemindMe.ViewModels.ScheduleEventsAndRemindersViewModel

@{
    ViewData["Title"] = "Schedule";
}

<h2> @ViewBag.Username - Schedule Events And Reminders</h2>

<form asp-controller="RemindMe" asp-action="ScheduleEventsAndReminders" method="post">
    <p>@ViewBag.PasswordError @ViewBag.UsernameError @ViewBag.UserNameContentError </p>

     
    <div class="form-group">
        <label></label>
        <input type="hidden" class="form-control" value="@ViewBag.Username" />
    
    </div>
    <div class="form-group">
        <label asp-for="RecurringEventName"></label>
        <input class="form-control" asp-for="RecurringEventName" />
        <span asp-validation-for="RecurringEventName"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecurringEventDescription"></label>
        <input class="form-control" asp-for="RecurringEventDescription" />
        <span asp-validation-for="RecurringEventDescription"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecurringEventDate"></label>
        <input class="form-control" asp-for="RecurringEventDate" />
        <span asp-validation-for="RecurringEventDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="RepeatFrequencyNameID">How Often Does this Event Occur?</label>
        <p style="color:blue">
            If you select Annually, the Reminders
            will be sent every year between
            the start month/day and stop month/day of the dates entered below.
            <br />
            If you select Once, the Reminders will be sent one time only between
            the dates entered below.
        </p>
        <select asp-for="RepeatFrequencyNameID" asp-items="Model.Frequencies"></select>
        <br />
    </div>
    <p style="color:red"><strong>@ViewBag.calendarYearError</strong></p>

    <div class="form-group">
        <label asp-for="RecurringReminderStartAlertDate"></label>
        <input class="form-control" asp-for="RecurringReminderStartAlertDate" />
        <span asp-validation-for="RecurringReminderStartAlertDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecurringReminderLastAlertDate"></label>
        <input class="form-control" asp-for="RecurringReminderLastAlertDate" />
        <span asp-validation-for="RecurringReminderLastAlertDate"></span>
    </div>
    <p style="color:blue">You can schedule 1 or 2 Reminders to be sent to you daily.  The first Reminder is required. The second one is optional</p>
    <div class="form-group">
        <label asp-for="ReminderTimesID">Select the time of day you want the first reminder to be sent to you   </label>
        <select  asp-for="ReminderTimesID" asp-items="Model.ReminderTimes"></select>
    </div>
    <div class="form-group">
        <label asp-for="ReminderTimes2ID">Select a time of day if you want the second reminder to be sent to you. If not, select "Do Not Schedule"   </label>
        <select asp-for="ReminderTimes2ID" asp-items="Model.ReminderTimes2"></select>
    </div>


    <div class="form-group">
        @*<label asp-for="UserCellPhoneNumber"></label>  commented out
            while we restrict the user to only getting texts on the registered
            cell phone number*@
        <input class="form-control" type="hidden" value="@Model.UserCellPhoneNumber" asp-for="UserCellPhoneNumber" />
        <span asp-validation-for="UserCellPhoneNumber"></span>
    </div>
    <p style="color:blue">These Reminders will be sent to @ViewBag.formattedUserCellPhone</p>

    @*
        <div class="form-group">
            <label asp-for="RecurringReminderRepeatFrequency "></label>
            <input value="Annually" class="form-control" asp-for="RecurringReminderRepeatFrequency " />
            <span asp-validation-for="RecurringReminderRepeatFrequency "></span>
        </div>
    *@



    @* This will render a drop down list of all users registerd on the site.
            It is not necessary since I am using Sessions to manage
            keeping track of which user is adding the event/reminder

            <div class="form-group">
            <label asp-for="UserId"></label>
            <select asp-for=UserId asp-items="Model.Users"></select>
        </div>
    *@

    <input type="submit" value="Submit" />&nbsp;&nbsp;&nbsp;
    <a href="UserHomePage">
        <input type="button" value="Cancel" />
    </a>
</form>
