@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Recurring Events And Reminders";

}



<h2> Recurring Events And Reminders  for @ViewBag.Username</h2>
@if (ViewBag.numOfReminders > 0)

{

    <form method="get">
        <table class="table">

            <tr>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Event Date</th>
                <th>Date to Start Sending Reminders</th>
                <th>Date to Stop Sending Reminders</th>
                <th>First Daily Reminder Scheduled Time</th>
                <th>Second Daily Reminder Scheduled Time</th>
                <th>Date the Last Reminder Was Sent</th>
                <th>Cell Phone to Receive Reminder</th>
                <th>Recurring Frequency</th>
                <th>              Action</th>
            </tr>
            @foreach (dynamic recurringReminder in @Model)
            {
                
                @if (@recurringReminder.RecurringReminderDateAndTimeLastAlertSent.ToString("yyyy") == "2001")
                {
                    ViewBag.lastDateSent = "Never Sent";

                }
                else
                {
                    ViewBag.lastDateSent = @recurringReminder.RecurringReminderDateAndTimeLastAlertSent.ToString("dddd, MMMM dd yyyy");
                }
                <tr>
                    <td>@recurringReminder.RecurringReminderName</td>
                    <td>@recurringReminder.RecurringReminderDescription</td>
                    <td>@recurringReminder.RecurringEventDate.ToString("dddd, MMMM dd yyyy")</td>
                    <td>@recurringReminder.RecurringReminderStartAlertDate.ToString("dddd, MMMM dd yyyy")</td>
                    <td>@recurringReminder.RecurringReminderLastAlertDate.ToString("dddd, MMMM dd yyyy")</td>
                    <td>@recurringReminder.RecurringReminderFirstAlertTime</td>
                    <td>@recurringReminder.RecurringReminderSecondAlertTime</td>
                    <td>@ViewBag.lastDateSent</td>
                    <td>@Convert.ToInt64(@recurringReminder.UserCellPhoneNumber).ToString("(###) ###-####")</td>
                    @*<td>@recurringReminder.UserCellPhoneNumber</td>*@
                    <td>@recurringReminder.RepeatFrequencyName.RepeatFrequencyName</td>
                    <td><a asp-controller="RemindMe" asp-action="EditEventsAndReminders" asp-route-recurringReminderId="@recurringReminder.ID">Edit This Event/Reminder</a></td>
                    <td><a asp-controller="RemindMe" asp-action="DeleteEventsAndReminders" asp-route-recurringReminderId="@recurringReminder.ID">Delete This Event/Reminder</a></td>
                </tr>

            }

        </table>

        <a asp-controller="RemindMe" asp-action="ScheduleEventsAndReminders" asp-route-id="@ViewBag.ID">Add an Event/Reminder</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <a asp-controller="RemindMe" asp-action="DeleteEventsAndReminders"><strong>Delete Multiple Reminders</strong></a>
        &nbsp&nbsp&nbsp&nbsp&nbsp @*add blank spaces between the two anchor tags <a></a>*@
        <a asp-controller="RemindMe" asp-action="UserHomePage" asp-route-id="@ViewBag.ID"><strong>Return to Home Page</strong></a>
    </form>

}
else
{

    <br /><br />
    <h3 style="color:red"><strong>You have no Events/Reminders Scheduled</strong></h3>
    <br /><br /><br /><br />
    <a asp-controller="RemindMe" asp-action="UserHomePage" asp-route-id="@ViewBag.ID"><strong>Return to Home Page</strong></a>

}