@model RemindMe.Models.User

@{
    ViewData["Title"] = "Home Page";

}


<h2>Welcome @Model.Username</h2>


<form method="get">
    <table class="table">

        <tr>
            <th>Login ID</th>
            <th>Member Since</th>
            @*we will address googel email in release 2<th>Google Email ID</th>*@
            <th>Cell Phone Number</th>
            <th colspan="4">Events and Reminders</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>

        <tr>
            <td>@Model.Username</td>
            <td>@Model.UserCreateDate</td>
            @*we will address googel email in release 2<td>@Model.GCalEmail</td>*@
            <td>@Model.CellPhoneNumber</td>
            <td><a asp-controller="RemindMe" asp-action="ScheduleEventsAndReminders" asp-route-id="@ViewBag.ID">Add</a></td>
            <td><a asp-controller="RemindMe" asp-action="SingleUserRecurringEventsAndReminders" asp-route-id="@ViewBag.UserId">View</a></td>
                    <td><a asp-controller="RemindMe" asp-action="SingleUserRecurringEventsAndReminders" asp-route-id="@ViewBag.UserId">Edit</a></td>
                    <td><a asp-controller="RemindMe" asp-action="DeleteEventsAndReminders" asp-route-id="@ViewBag.UserId">Delete</a></td>
                </tr>



            </table>

        </form>
